.head_image{
    background-color: cornflowerblue;
    background-image: url(https://pruebasbeta.globalgbc.com/sites/default/files/banner_1.png);
    display: flex;
    height: 220px;
}

body{
    font-family: 'Montserrat'!important;
}

h1{
    font-size: 30px;
    color: #333
}

h5{
    font-size: 20px!important;
    font-weight: bold!important;
    text-rendering: optimizelegibility!important;
}

button{
    color: white;
    font-weight: 700;
    background: #037ac5;
    border: 1px solid transparent!important;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: normal;
    font-size: 12px;
    padding: 10px 20px;
}

.title{
    background-color:  rgb(255, 255, 255, .8);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10%;
    margin-top: 6%;
    width: 80%;
}

.reporte{
    flex: auto;
    padding-left: 8%;
}

.boton_pdf{
    padding-right: 10%;
}

.resumen, .datos_reporte{
    width: 80%!important;
    margin-left: 10%;
}
.resumen_der{
    background-color: #f9f9f9;
    height: 680px;
    padding-top: 20px;
}

.logo_img{
    /* vertical-align: middle; */
    max-width: 85px;
}

.vin, .logo{
    text-align: center;
}

.datos_vehiculo{
    border-bottom: 1px solid #e2e2e2;
}
.datos_reporte{
    background-color: #f9f9f9;
    border-top: 1px solid #e2e2e2;
    text-align: center;
    height: 50px;
}

.valor{
    padding: 26px;
    min-height: 150px;
    max-height: 200px;
}

.semaforos_izq, .semaforos_der{
    padding-top: 30px;
}

.semaforos_izq table tr td, .semaforos_der table tr td {
    padding: 7px;
    border-top: inherit;
}
.texto_resumen{
    margin-top: 0px!important;
    margin-bottom: 3px!important;
}
